parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, int given\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/BancoDoBrasil.php

		-
			message: "#^Parameter \\#1 \\$string of static method OpenBoleto\\\\BoletoAbstract\\:\\:caracteresDireita\\(\\) expects string, int given\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Banese.php

		-
			message: "#^Parameter \\#3 \\$pad_string of function str_pad expects string, int given\\.$#"
			count: 2
			path: src/OpenBoleto/Banco/Bradesco.php

		-
			message: "#^Property OpenBoleto\\\\Banco\\\\Bradesco\\:\\:\\$cip \\(int\\) does not accept default value of type string\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Bradesco.php

		-
			message: "#^Property OpenBoleto\\\\Banco\\\\Bradesco\\:\\:\\$digitoAutoConferencia \\(int\\) does not accept string\\.$#"
			count: 2
			path: src/OpenBoleto/Banco/Bradesco.php

		-
			message: "#^Variable \\$d2 might not be defined\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Brb.php

		-
			message: "#^Access to an undefined property OpenBoleto\\\\Banco\\\\C6Bank\\:\\:\\$modalidade\\.$#"
			count: 2
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^Method OpenBoleto\\\\Banco\\\\C6Bank\\:\\:setConvenio\\(\\) should return OpenBoleto\\\\Banco\\\\Sicoob but returns \\$this\\(OpenBoleto\\\\Banco\\\\C6Bank\\)\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^Method OpenBoleto\\\\Banco\\\\C6Bank\\:\\:setModalidade\\(\\) should return OpenBoleto\\\\Banco\\\\Sicoob but returns \\$this\\(OpenBoleto\\\\Banco\\\\C6Bank\\)\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^PHPDoc type string of property OpenBoleto\\\\Banco\\\\C6Bank\\:\\:\\$numParcelas is not covariant with PHPDoc type int of overridden property OpenBoleto\\\\BoletoAbstract\\:\\:\\$numParcelas\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^Parameter \\$modalidade of method OpenBoleto\\\\Banco\\\\C6Bank\\:\\:setModalidade\\(\\) has invalid type OpenBoleto\\\\Banco\\\\type\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^Property OpenBoleto\\\\Banco\\\\C6Bank\\:\\:\\$convenio \\(int\\) does not accept default value of type string\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/C6Bank.php

		-
			message: "#^Method OpenBoleto\\\\Banco\\\\Cecred\\:\\:setConvenio\\(\\) should return OpenBoleto\\\\Banco\\\\BancoDoBrasil but returns \\$this\\(OpenBoleto\\\\Banco\\\\Cecred\\)\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Cecred.php

		-
			message: "#^Binary operation \"\\+\" between non\\-falsy\\-string and string results in an error\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/HSBC.php

		-
			message: "#^Method OpenBoleto\\\\Banco\\\\HSBC\\:\\:gerarNossoNumero\\(\\) should return string but returns int\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/HSBC.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, int given\\.$#"
			count: 2
			path: src/OpenBoleto/Banco/HSBC.php

		-
			message: "#^Access to an undefined property OpenBoleto\\\\Banco\\\\Sicoob\\:\\:\\$modalidade\\.$#"
			count: 2
			path: src/OpenBoleto/Banco/Sicoob.php

		-
			message: "#^PHPDoc type string of property OpenBoleto\\\\Banco\\\\Sicoob\\:\\:\\$numParcelas is not covariant with PHPDoc type int of overridden property OpenBoleto\\\\BoletoAbstract\\:\\:\\$numParcelas\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Sicoob.php

		-
			message: "#^Parameter \\$modalidade of method OpenBoleto\\\\Banco\\\\Sicoob\\:\\:setModalidade\\(\\) has invalid type OpenBoleto\\\\Banco\\\\type\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Sicoob.php

		-
			message: "#^Property OpenBoleto\\\\Banco\\\\Sicoob\\:\\:\\$convenio \\(int\\) does not accept default value of type string\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Sicoob.php

		-
			message: "#^Variable \\$constante might not be defined\\.$#"
			count: 1
			path: src/OpenBoleto/Banco/Sicoob.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$cip$#"
			count: 1
			path: src/OpenBoleto/Banco/Sicredi.php